*.iml
/build
**/build/
.gradle
.kotlin
.idea/
/local.properties
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
dist/
/app/release/
__pycache__/
*.py[cod]
*.kate-swp
keystore.properties
*.jks
